.header
  = render "review/partial/header"

.common
  - breadcrumb :business
  = render "review/partial/title"

.business
  .business__content
    .business__content__main
      .business__content__main__service