.header
  = render "review/partial/header"

.business
  - breadcrumb :business
  = render "review/partial/title"

  .business__content
    .business__content__main
      .business__content__main__service