.header
  = render "review/partial/header"

.common
  - breadcrumb :company
  = render "review/partial/title"

.company
  .company__top
    .company__top__image
      = image_tag "company2.jpg", class: "company_image"
    