.footer
  .footer__nav
    %ul.not_test
      %li 会社概要
      %li 事業内容
      %li 代表挨拶
      %li お問い合わせ
  .footer__company
    %p 
      株式会社RORO
    %br
      〒550-0014
    %br
      大阪府大阪市西区北堀江
    %br
      １丁目１７−１０
    %a.insta_btn{href: "#"}
      %span.insta
        %i.fa.fa-instagram
.footer__inc
  © 2020 RORO
