.header
  = render "review/partial/header"

.common
  - breadcrumb :message
  = render "review/partial/title"

.message-l-contents
  .message-l-contents__main
    %article.message-l-contents__main__conpany
      %section.message-l-contents__main__conpany__greeting
        .message-l-contents__main__conpany__greeting__container
          .message-l-contents__main__conpany__greeting__container__ceo-box
            %h2 代表挨拶タイトル
            %p.message-l-contents__main__conpany__greeting__container__ceo-box__ceo-name
              代表 hogeさん
            %p 住まいとは、そこに住む家族にとっていつまでも安らげる場所でなければならない。その想いから、お客様の人生に長く寄り添える家づくりを目指してきました。
            %p 創業して25年、おかげさまでこれまで200組以上のお客様の家づくりに関わらせていただいてまいりました。
            %p
            %p 地震や高齢化に対する対策など、住宅事情は刻一刻と変化していきます。そのなかで、確かな技術と、変化を恐れない姿勢を貫き、伝統的な工法から、最新の建材利用まで、幅広いニーズにお応えし、お客様の住まいに対する想いを第一に考える工務店でありたいと思っております。
            %p これからも、ひとりでも多くのお客様に「〇〇工務店にお願いしてよかった」と言っていただけるよう、社員一同住まいづくりに真摯に向き合ってまいります。
            %p 今後とも格別のご支援、ご愛好を賜りますようよろしくお願い申し上げます。

