.footer
  .footer__nav
    %ul.not_test
      %li
        = link_to review_company_path do
          %span.jp 会社概要
      %li 
        = link_to review_business_path do
          %span.jp 事業内容
      %li 
        = link_to review_message_path do
          %span.jp 代表挨拶
      %li 
        = link_to review_contact_path do
          %span.jp お問い合わせ
  .footer__company
    %p 
      株式会社RORO
    %br
      〒550-0014 大阪府大阪市西区北堀江 １丁目１７−１０
    %br
      (TEL) 080-1469-9754 (FAX) 06-6684-9654
    %br
      (E-MAIL) hideakisuda.5800@gmail.com
    %a.insta_btn{href: "#"}
      %span.insta
        %i.fa.fa-instagram
.footer__inc
  © 2020 RORO
