.menu
  .menu__in
    %ul.menu__in__ul
      %li.menu__in__ul__li
        = link_to "会社概要", review_company_path , class: "menu__in__ul__li__a"
        = link_to "事業内容", review_business_path , class: "menu__in__ul__li__a"
        = link_to "代表挨拶", review_message_path , class: "menu__in__ul__li__a"
        = link_to "お問い合わせ", review_contact_path , class: "menu__in__ul__li__a"