@media screen and (min-width:1024px) {
    /*pc用のcssを記述*/
  .message-l-contents{
    word-break: normal;
    word-wrap: break-word;
    margin-bottom: 50px;

    &__main{
      line-height: 180%;

      &__conpany{
        line-height: 2;

        section{
          margin: 0 0 40px;
        }

        &__greeting{


          &__container{
            background:url("test4.jpg") no-repeat left top;
            background-size: cover;
            width: 1300px;
            max-width: 1300px;
            height: 700px;
            margin-right: auto;
            margin-left: auto;

            &__bg-mask {
              height: 100%;
              background: rgba(255,255,255,0.5);

              &__ceo-box{
                margin: 40px 30px 80px auto!important;
                max-width: 700px;

                h2 {
                  padding-top: 30px;
                  font-size: 5.6rem;
                  margin-bottom: 20px;
                  font-family: "AxisStd-Bold","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック",YuGothic,"メイリオ",Meiryo,Verdana,sans-serif;
                }

                p {
                  padding-top: 20px;
                  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
                  letter-spacing: 0.4rem;
                  margin-bottom: 40px;
                  margin-right: 40px;
                  font-size: 15px;
                }

                // .first {
                //   font-size: 15px;
                // }
                // .second {
                //   font-size: 15px;
                // }
                // .third {
                //   font-size: 15px;
                // }
                // .four {
                //   font-size: 15px;
                // }

                &__ceo-name{
                  text-align: right;
                  margin-bottom: 55px;
                  font-size: 20px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}