.message{
  padding: 0 1.5rem;

  &__box{

    &__left{
      
      img{
        width: 100%;
      }
    }

    &__right{
      
      &__title{
        font-size: 3.6rem;
        margin-bottom: 20px;
        font-weight: bold;
      }

      &__sentence{

        p{
          font-weight: 400;
          line-height: 2.4rem;
          font-size: 1.8rem;
          margin-bottom: 5rem;
        }
      }

      &__name{

        span{
          font-size: 1.7rem;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (min-width: 1140px){
  .message{
  
    &__box{
      display: flex;
      flex-wrap: wrap;

      &__left{
        width: 48%;
        margin-right: 2%;
      }

      &__right{
        width: 48%;
        margin-left: 2%;
        margin: 80px 0 80px auto!important;

        &__sentence{
          margin: 5.2rem 7rem 0 0rem;
        }

        &__name{
          margin: 7rem 0 0 32rem;

        }
      }
    }
  }
}

@media screen and (max-width: 1139px){
  .message__box{
    text-align: center;

    &__right{

      &__title{
        margin: 40px;
      }
    }
  }
}

@media screen and (max-width: 639px){
  .message__box__right__sentence{
    
    p{
      font-size: 1.25rem;
      line-height: 0;
      margin-bottom: 3.5rem;
    }
  }
}