.common{
  margin: 60px 0 80px 0;
  width: 100%;
  .title{
    
    &__container{
      &__bar{
        height: 200px;
        display: flex;
        justify-content: space-around;

        &__text{
          padding-top: 70px;
          font-size: 3.6rem;
          font-family: 'Batang';
        }

        &__pan{
          color: #211a18;
          margin-top: 120px;

          a{
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}