/*レスポンシブデザイン*/
@media screen and (max-width:639px) {
  .business{
    padding: 0 1rem;

    &__content{
      display: none;
    }

    &__image{
      position: relative;
      overflow: hidden;

      img{
        width: 100%;
      }
    }

    &__discription{
      margin-top: 4rem;
      padding: 0 3rem;
      text-align: center;

      &__title{

        span{
          font-size: 2rem;
          font-weight: bold;
        }
      }

      &__text{
        margin-top: 4.8rem;

        p{
          font-size: 1.2rem;
          line-height: 1rem;
        }
      }
    }

    #num_01r, #num_03r{
      margin-bottom: 0;
      padding-top: 13em;

      .inner{
        max-width: 92%;
        display: block;

        &__right{
          padding: 0.3em 1.9em 3em;
          min-width: 100%;
          width: 100%;
          top: 0;
          box-shadow: none;
          background-color: white;

          &__white{
            padding: 0;

            h4{
              margin-bottom: 1em;
              text-align: center;
              font-size: 4.7vw;

              span{
                font-size: 0;
                
                em{
                  font-size: 3.2vw;
                }
              }
            }

            p{
              font-size: 3.5vw;
            }
            .button{
              margin-top: 1.5em;
              display: block;
              
              &__a{
                width: 100%;
                padding-left: 0;
                justify-content: center;
                font-size: 3.6vw;
                height: 4.5em;
              }
            }
          }
        }
      }
    }
    #num_02r{
      margin-bottom: 0;
      padding-top: 13em;

      .inner{
        max-width: 92%;
        display: block;

        &__left{
          padding: 0.3em 1.9em 3em;
          min-width: 100%;
          width: 100%;
          top: 0;
          box-shadow: none;
          background-color: white;

          &__white{
            padding: 0;

            h4{
              margin-bottom: 1em;
              text-align: center;
              font-size: 4.7vw;

              span{
                font-size: 0;

                em{
                  font-size: 3.2vw;
                }
              }
            }

            p{
              font-size: 3.5vw;
            }
            .button{
              margin-top: 1.5em;
              display: block;
              
              &__a{
                width: 100%;
                padding-left: 0;
                justify-content: center;
                font-size: 3.6vw;
                height: 4.5em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:1023px) {
    
  .business{
    
    &__image{
      
      img{
        width: 100%;
      }
    }
    
    &__discription{
      margin-top: 4rem;
      padding: 0 0.9rem;
      text-align: center;

      &__title{

        span{
          font-size: 3.5rem;
          font-weight: bold;
        }
      }

      &__text{
        margin-top: 4.8rem;

        p{
          line-height: 1.5rem;
          font-size: 1.8rem;
          font-family: serif;
          font-weight: normal;
        }
      }
    }

    &__content{
      display: none;
    }
  }
  .num_02{
    .inner__left__white{
      p{
        padding-right: 2rem;
      }
    }
  }
}

@media screen and (min-width:1024px) {
  .business{
    padding: 0 1.5rem;

    &__image{
      display: none;
    }

    &__discription{
      display: none;
    }
  }
}

.business{

  &__content{
    background-image: url(business-image2.jpg);
    background-repeat: no-repeat;
    background-size:cover;

    &__description{
      padding-bottom: 50px;
      
      p{
        text-align: center;
        line-height: 2.4rem;
        font-size: 1.8rem;
        font-family: serif;
      }
    }
  }

  &__list{
    margin-top: 3.9em;
    padding-inline-start: 0px;
    
    // 右側のリスト
    .num_01 , .num_03{
      position: relative;
      min-height: 436px;
      margin-bottom: 64px;
      
      .inner{
        align-items: flex-end;
        margin: 0 auto;
        display: flex;
        height: 100%;

        &__right {
          padding-right: 155px;
          min-width: 598px;
          width: 50%;
          box-sizing: border-box;
          margin-left: auto;
          position: relative;
          z-index: 10;
          max-width: 730px;

          &__white{
            padding: 15px 0 100px 60px;
            background-color: #fff;

            h4{
              margin-bottom: 20px;
              font-size: 28px;

              span{
                font-family: 'Amiri', serif;
                display: block;
                font-size: 36px;
                color: #e67e18;
                line-height: 1;
                font-style: italic;
                font-weight: normal;
                letter-spacing: -.1em;

                em{
                  margin-left: 0;
                  font-size: 23px;
                  color: #f5d1bb;
                  letter-spacing: 0;
                }
              }
            }

            p{
              font-size: 15px;
              line-height: 2.15;
            }
          }
        }
      }
    }

    // 左側のリスト
    .num_02{
      position: relative;
      min-height: 436px;
      margin-bottom: 64px;
      
      .inner{
        align-items: flex-end;
        margin: 0 auto;
        display: flex;
        height: 100%;

        &__left {
          margin-left: 0;
          padding-right: 155px;
          min-width: 598px;
          width: 50%;
          box-sizing: border-box;
          margin-right: auto;
          position: relative;
          z-index: 10;
          max-width: 730px;

          &__white{
            padding: 15px 0 100px 60px;
            background-color: #fff;

            h4{
              margin-bottom: 20px;
              font-size: 28px;

              span{
                font-family: 'Amiri', serif;
                display: block;
                font-size: 36px;
                color: #e67e18;
                line-height: 1;
                font-style: italic;
                font-weight: normal;
                letter-spacing: -.1em;

                em{
                  margin-left: 0;
                  font-size: 23px;
                  color: #f5d1bb;
                  letter-spacing: 0;
                }
              }
            }

            p{
              font-size: 15px;
              line-height: 2.15;
            }
          }
        }
      }
    }
  }
}